@model NotificationListModel

<div class="form-group">
    <smart-label asp-for="SearchPublished" />
    <editor asp-for="SearchPublished" asp-template="SearchExpression" />
</div>
<div class="form-group">
    <smart-label asp-for="SearchMessage" />
    <editor asp-for="SearchMessage" asp-template="SearchExpression" />
</div>